*{
	box-sizing: border-box;
}

/*- - - - - - C O N T A C T - C A R D S - - - - - */

.card{
  height: auto;
	max-height:299px;
	width: 200px; /* ⬅ Size - Small (width: 200px), Medium (width: 225px), Large (width: 250px) */
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	text-align: center;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	.card{

		margin: 15px;
	}

	.card:hover{
		margin-top: -15px;
		box-shadow: 0 15px 20px rgba(0,0,0,0.1);
	}

.card_Banner{
	height: 110px;
	width: inherit;
	padding-top: 35px;
	background-color: #FAFAFA;
	background-size: cover;
	background-position: center;
}

.card_Avatar{
	height: 100px;
	width: 100px;
	margin: auto auto;
	background-size: cover;
	background-position: center;
	background-color: #F1F1F1;
	border: 3px solid #FFFFFF;
	border-radius: 100%;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

h3, a, i, p{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	h3{
		margin-top: 45px;
		margin-bottom: 5px;
		font-size: 18px;
		color: #212121;
	}

	a, p{
		display: block;
		font-size: 14px;
		color: #9E9E9E;
		text-decoration: none;
	}

		a:hover{
			color: inherit;
		}

ul{
	margin-top: 36px;
  margin-bottom: 0px;
	padding: 15px 0px;
	background-color: #FAFAFA;
}

	ul a{
		display: inline;
		margin-right: 10px;
	}

		ul a:last-of-type{
			margin-right: 0px;
		}

		ul a i{
			color: inherit;
		}

			ul a i:hover{
				transform: scale(1.5);
				color: inherit;
			}

*::selection{
	background-color: #CCFF90;
}
