.nav-bar {
	position: fixed;
  top: 0;
  width: 100%;
	margin-top: 0;
	justify-content: center;
  display: flex;
	list-style-type: none;
	background-color: #FFFFFF;
}

.nav-bar li  {
	width: 100px;
	margin: auto;
	justify-content: center;
  display: flex;
}
