.sections{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .nav-bar-div {
	vertical-align: middle;
	float: none;
} */

.nav-bar-ul {
	margin-top: 0;
	justify-content: center;
  display: flex;
	list-style-type: none;
	background-color: #FFFFFF;
}

.nav-bar-ul li  {
	width: 100px;
	margin: auto;
	justify-content: center;
  display: flex;
}

/* .nav-bar-ul a {
		margin-right: auto;
	  margin-left: auto;
} */
